<div class="home__conteiner">
  <app-card
      gameCover="assets/bt-1.jpg"
      gameLabel="Exclusivo"
      gameType="PS4"
      gamePrice="R$ 123,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameType="PS5 | PS4"
    gamePrice="R$ 329,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-5.jpg"
    gameType="PS3 | PS4 | PS5"
    gamePrice="R$ 159,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="New"
    gameType="PS5 | Digital"
    gamePrice="R$ 329,23"
  ></app-card>
</div>

